.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

body {
  margin: 0;
  background-color: #000;
  height: 100%;
  background: linear-gradient( rgba(14, 37, 4, 0.7), rgba(14, 37, 4, 0.7)), url('https://images.unsplash.com/photo-1584458938509-6acc7be5ccaf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1075&q=80');
  background-size: cover;
}

.cashReturn {
  border: 2px solid #B8E2A7;
  max-width: 60%;
  text-align: center;
  margin: 1rem auto;
  padding-bottom: 0.5rem;
  box-shadow: 0.3rem 0.4rem 0.7rem rgb(14, 37, 4);
}

.outputTable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes {}

.note {
  padding: 0.5rem;
  background-color: #B8E2A7;
  color: rgb(14, 37, 4);
  font-size: 1.1rem;
  font-weight: bolder;
}

.numOfNotes {
  display: inline-block;
  margin-left: 0.5rem;
}

.numHeading {
  color: #B8E2A7;
  background-color: rgb(14, 37, 4);
}

.noteHeading {
  color: #B8E2A7;
  background-color: rgb(14, 37, 4);
}

.numNote {
  padding: 0.5rem;
  background-color: #B8E2A7;
  color: rgb(14, 37, 4);
  font-size: 1.1rem;
}

th {
  padding: 0.5rem
}

p {
  font-size: 1.2rem;
  color: #DFFED2;
}

h1 {
  font-size: 2.2rem;
  color: #DFFED2;
}

h2 {
  color: #B8E2A7
}

h3 {
  /* display: inline-block; */
  font-size: 1.5rem;
  color: #DFFED2;
}

input {
  color: rgb(14, 37, 4);
  font-size: 1.1rem;
  outline: none;
  padding: .5rem;
  border-radius: 1rem;
}

input:focus {
  background-color: #DFFED2;
}

button {
  background-color: #B8E2A7;
  color: #0E2504;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.5rem #000;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  box-shadow: 0.6rem 0.6rem 0.5rem #000;
}

.numOfNotes tr {
  padding: 0.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* position: fixed; */
  background-color: #B8E2A7;
  /* padding: 0.5rem; */
  left: 0;
  bottom: 0;
  align-content: flex-end;
  width: 100%;
  color: rgb(14, 37, 4)
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  padding: 0.2rem 0;
}

.social-links a:active a:visited {}